/* --- UNIVERSAL --- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* --- BODY ELEMENT --- */
body {
  background-color: #d9dcd6;
}
/* --- BODY ELEMENT END --- */

/* --- HEADER ELEMENT --- */
header {
  /*changed the header from a class selector to an element selector (removed the ".") */
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

header h1 {
  /*made the header an element selector(removed the ".") */
  display: inline-block;
  font-size: 48px;
}

header h1 .seo {
  /*made the header an element selector (removed the ".") */
  color: #d9dcd6;
}
/* --- HEADER ELEMENT END --- */

/* --- HEADER NAV --- */
header nav {
  /* made the header an element selector (removed the "."), replaced "DIV" with "NAV"*/
  padding-top: 10px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

header nav ul {
  /* made the header an element selector (removed the "."), replaced "DIV" with "NAV"*/
  list-style-type: none;
}

header nav ul li {
  /* made the header an element selector (removed the "."), replaced "DIV" with "NAV"*/
  display: inline-block;
  margin-left: 25px;
}
/* --- HEADER NAV END --- */

/* --- TEXT ELEMENTS --- */
a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
  margin-bottom: 32px;
}
/* --- TEXT ELEMENTS END --- */

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* --- MISC CLASSES --- */
.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}
/* --- MISC CLASSES END--- */

/* --- MAIN ELEMENT --- */
main {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}
/* --- MAIN ELEMENT END --- */

/* --- MAIN CLASSES --- */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.online-reputation-management img,
.social-media-marketing img,
.search-engine-optimization img {
  max-height: 200px;
}

.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/* --- MAIN CLASSES END --- */

/* --- ASIDE CLASSES--- */
.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

.benefit-lead,
.benefit-brand,
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}

.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/* --- ASIDE CLASSES END --- */

/* --- FOOTER ELEMENT --- */
footer {
  /*changed the footer from a class selector to an element selector (removed the ".") */
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  /*changed the footer to an element selector (removed the ".") */
  font-size: 20px;
}
/* --- FOOTER ELEMENT END --- */
